#logo
{
	border-radius: 50%; 
	transition-duration: 0.3s;
	margin-left: 10px;
    position:absolute; 
	border-radius: 50%;
	border: 2px solid black;
}
body
{
	font-family: Candara;
    padding: 0; 
    margin:0;
	background-color: lightblue;
}
h1 
{
	text-align: center; 
	font-family: candara;
	font-size: 40px;
}
#heading
{
	margin-top: 1%;
    width :100%; 
    height:200px;
}
#profile
{
	margin-top: -5%;
	float: right; 
	transition-duration: 0.3s;
	border-radius: 50%;
	margin-right: 0.5%;
	border: 2px solid black;
}
#logo:hover
{
	box-shadow: 0 20px 30px 0 rgb(99, 99, 99), 0 20px 51px 0 rgb(99, 99, 99);
}
#everything 
{
	width: 90%; 
	margin-right: auto; 
	margin-left: auto;
	margin-bottom: 3%; 
}
#workouts
{
	width: 22.5%; 
} 
#Chest
{
	width: 80%; 
	margin-right: auto; 
	margin-left: auto; 
	border: 2px solid black;
	border-radius: 15px; 
	box-shadow: 0 20px 30px 0 rgba(13, 35, 89, 0.55), 0 20px 51px 0 rgba(13, 35, 89, 0.55);
	margin-bottom: 5%; 
	background-color: white;
	padding: 3%; 
} 
#inputs
{
	margin: auto; 
	background-color: white; 
	border: 2px solid black; 
	border-radius: 15px; 
	box-shadow: 0 20px 30px 0 rgba(13, 35, 89, 0.55), 0 20px 51px 0 rgba(13, 35, 89, 0.55);
	padding: 3%; 
	width: 60%; 
} 
#vid
{
	width: 90%; 
} 
#videos 
{
	width: 80%; 
	margin-right: auto; 
	margin-left: auto; 
	border: 2px solid black;
	border-radius: 15px; 
	box-shadow: 0 20px 30px 0 rgba(13, 35, 89, 0.55), 0 20px 51px 0 rgba(13, 35, 89, 0.55);
	margin-bottom: 5%; 
	background-color: white;
	padding: 3%; 
}
#Label
{
	font-size: 16px; 
} 
input
{
	height: 25px;
	font-size: 16px; 
	font-family: candara; 
	width: 100%; 
} 
#todo 
{
	width: 90%; 
}
#quest
{
	width: 30%; 
} 
button 
{
	width: 80%; 
	font-size: 18px; 
	height: 30px; 
	background: transparent; 
	border-radius: 15px; 
	font-family: candara;
	transition-duration: 0.3s;
}
button:hover
{
	background-color: lightblue;
}



