<html>
	<head>
		<link href = "/static/admin.css" rel = "stylesheet"></link> 		
	</head> 

	<body>
		<img src = "/static/Images/FitnessHomie.png" height = "auto" width = "8%" id = "logo"></img>
        <div id = "heading">
			<u><h1 style = "text-align:center;">Admin Panel</h1></u>
			<img src = "/static/Images/Sam2.png" height = "auto" width = "8%" id = "profile"></img>
        </div>
		<table id = "all"> 
			<td id = "other"> 
			<h2 style = "text-align:center;">Users</h2>
			{% for i in range(0,length)%} 
				{% set list1 = users[i] %}
				<table id = "users"> 
					{% for i in range(0,users[i]|length)%}
						<tr>
							<td> 
								<b><label>{{headers[i]}}: </label></b>
							</td>
							<td>
								<label>{{list1[i]}}</label>
							</td>
						</tr>
					{%endfor%}
				</table> 
			{%endfor%}
			</td>
			<td id = "other3">
				<table id = "users2"> 
					<tr>
						<td>
							<h2 style = "text-align:center;">Edit Macro Information Page</h2>
						</td> 
					</tr>
					<tr>
						<td id = "other2">
							<a id="Foodinfo" href="{{url_for ('edit_food')}}"> 
								<img id = "image" src= "/static/Images/infomacro.png" width = "45%" height = "auto"></img>
							</a>
						</td> 
					</tr>
					<tr>
						<td>
							<h2 style = "text-align:center;">Edit Workout Information Page</h2>
						</td> 
					</tr>
					<tr>
						<td id = "other2">
							<a id="macrotracker" href="{{url_for ('edit_workout')}}"> 
								<img id = "image" src= "/static/Images/infoworkout.png" width = "45%" height = "auto"></img>
							</a>
						</td> 
					</tr>
					<tr>
						<td id = "other2">
							<a id="logout" href="{{url_for ('main')}}"> 
								Leave Admin Panel
							</a>
						</td> 
					</tr>
				</table> 
			</td> 
		</table> 
	</body> 
</html>