<html>
	<head>
		<link href = "/static/edit.css" rel = "stylesheet"></link> 		
	</head> 

	<body>
		<a href = "{{url_for ('admin_page')}}">
			<img src = "/static/Images/FitnessHomie.png" height = "auto" width = "8%" id = "logo"></img>
		</a>
        <div id = "heading">
			<u><h1 style = "text-align:center;">Edit Workout Information</h1></u>
			<img src = "/static/Images/Sam2.png" height = "auto" width = "8%" id = "profile"></img>
        </div>
		<form method = "Post">
			<table id = "everything"> 
				<tr>
					{% for i in range(0,length2)%}
					<td id = "workouts"> 
						{% set Workout = groups[i] %}
						<h2 style = "text-align:center;">Filename: {{names[i]}}</h2>
						<table id = "Chest"> 
							{% for i in range(0, groups[i]|length) %}
								<tr style = "height: 25px;">
									<td>
										<label>{{i}}</label>
										<label>{{Workout[i]}}</label> 
									</td> 
								</tr>
							{%endfor%}
						</table> 
					{%endfor%}
					</td> 
				</tr> 
				<tr> 
					<td colspan = "4" style = "text-align: center;">
						<div id = "inputs">
							<table style = "margin: auto;" id = "todo">
								<tr > 
									<td id = "quest"><label id = "Label">Name of file you are editing(Copy and paste the file name here): </label></td>
									<td id = "quest"><input name = "whichfile" id = "whichfile"></input><br></td>
								</tr> 
								<tr > 
									<td id = "quest"><label id = "Label">Delete Information(Type in a line number starting from 1!): </label></td>
									<td id = "quest"><input name = "delete" id = "delete"></input><br></td>
									<td id = "quest"><button name = "submit" id = "submit" value = "delete">Delete</button><br></td>
								</tr>
								<tr>
									<td id = "quest"><label id = "Label">Type the information you would like to add here:  </label></td>
									<td id = "quest"><input name = "add" id = "add"></input><br></td>
									<td id = "quest"><button name = "submit" id = "submit" value = "add">Add Information</button></td>
								</tr>
								<tr>
									<td><label style = "color: red;" id = "Label">{{stat}}</label></td>
								</tr>
							</table>
						</div> 
					</td> 
				</tr>
				<tr>
					<td colspan = "4"> 
						<br><br>
					</td>
				</tr>
				<tr> 
					<td id = "vid" colspan = "4">
						<h2 style = "text-align:center;">Video links</h2>
						<table id = "videos"> 
							{% for i in range(0,length3) %}
								<tr style = "height: 25px;">
									<td style = "text-align: center;">
										<label>{{i}}</label>
										<label>{{videos[i]}}</label> 
									</td> 
								</tr>
							{%endfor%}
						</table> 	
					</td>
				</tr>
				<tr> 
					<td colspan = "4" style = "text-align: center;">
						<div id = "inputs">
							<table style = "margin: auto;" id = "todo">
								<tr > 
									<td id = "quest"><label id = "Label">Delete Information(Type in a line number starting from 0!): </label></td>
									<td id = "quest"><input name = "delete_video" id = "delete_video"></input><br></td>
									<td id = "quest"><button name = "submit" id = "submit" value = "delete_video">Delete</button><br></td>
								</tr>
								<tr>
									<td id = "quest"><label id = "Label">Add a video link: </label></td>
									<td id = "quest"><input name = "add_video" id = "add_video"></input><br></td>
									<td id = "quest"><button name = "submit" id = "add_video" value = "add_video">Add Information</button></td>
								</tr>
								<tr>
									<td colspan = "3"><label id = "Label">Video Links must be in this form: 
										<b>https://www.youtube.com/embed/(Youtube Id)</b></label></td>
								</tr>
								<tr>
									<td>
										<a href = "https://commentpicker.com/youtube-video-id.php" target="_blank">
											Get the Youtube Id
										</a>
									</td>
								</tr>
								<tr>
									<td><label style = "color: red;">{{stat}}</label></td>
								</tr>
							</table>
						</div> 
					</td> 
				</tr>
			</table> 
	</body> 
</html> 