<html>
	<head>
		<link href = "/static/macro_tracker.css" rel = "stylesheet"></link>
		<script src = "marco_tracker.js"></script>
	</head>
	<body> 
		<a href = "{{url_for ('home')}}">
			<img src = "/static/Images/FitnessHomie.png" height = "auto" width = "8%" id = "logo"></img>
		</a>
        <div id = "heading">
			<a href = "{{url_for('profile')}}" id = "hyperprofile">
				<img src = "/static/Images/profile.png" height = "auto" width = "8%" id = "profile"></img>
			<a>
        </div>	
		<div id ="body">
			<form method = "Post">
				<table id = "all">
				<td><table id = "tracker">
					<tr>
						<td colspan="11">
							<u><h2>Macro tracker</h2></u>
						</td>
					</tr>
					<tr>
						<td><label>Food Name: </label></td>
						<td><input type="text" id="foodname" name = "foodname" autofocus></td>
					</tr>
					<tr>
						<td><label>Input the Carbs(Grams): </label></td>
						<td><input type="text" id="carbnum" name = "carbnum"></td>
					</tr>
					<tr>
						<td><label>Input the Protein(Grams): </label></td>
						<td><input type="text" id="proteinnum" name = "proteinnum"></td>
					</tr>
					<tr>
						<td><label>Input the Fats(Grams): </label></td>
						<td><input type="text" id="fatnum" name = "fatnum"></td>
					</tr>
					<tr> 
						<td><label style = "color: red;">{{status}}</label></td>
					</tr>
					<tr> 
						<td><button id = "submit" name = "submit" value = "Input"> Input Values </button></td>
					</tr>
					<tr> 
						<td><button id = "submit" name = "submit" value = "newday">Start Tracking New Day</button></td>
					</tr>
				</table>
				</td>
				<td>
				<table id="status">
					<tr>
						<td colspan = "3"> 
							<u><h2>Your Macros</h2></u>
						</td>
					</tr>
					<tr>
						<td colspan = "3"> 
							<label>Total meals for today: <b>{{number}}</b></label>
						</td> 
					</tr>
					<tr> 
						<td colspan = "3"> 
							<label>Day: <b>{{day}}</b></label>
						</td> 
					</tr> 
					<tr>
						<td id = "macro"><label id = "calorie_rec">Base Calorie Goal: <b>{{caloriestotal}}</b></label></td>
						<td id = "macro"><label id="caloriein">Calorie Intake: <b>{{calories}}</b></label></td>
						<td id = "macro"><label id="calorieout">Calories Remaining: <b>{{recommendedCals}}</b></label></td>
					</tr>
					<tr>
						<td id = "macro"><label id = "protein">Base Protein Goal: <b>{{proteintotal}}</b></label></td>
						<td id = "macro"><label id="proteinin">Protein Intake: <b>{{proteins}}</b></label></td>
						<td id = "macro"><label id="proteinout">Protein Remaining: <b>{{recommendedPro}}</b></label></td>
					</tr>
					<tr>
						<td id = "macro"><label id = "carbs">Base Carbs Goal: <b>{{carbsintake}}</b></label></td>
						<td id = "macro"><label id="carbin">Carbs Intake: <b>{{carbs}}</b></label></td>
						<td id = "macro"><label id="carbout">Carbs Remaining: <b>{{recommendedCarbs}}</b></label></td>
					</tr>
					<tr>
						<td id = "macro"><label id = "fats">Base Fats Goal: <b>{{fatintake}}</b></label></td>
						<td id = "macro"><label id="fatin">Fat Intake: <b>{{fats}}</b></label></td>
						<td id = "macro"><label id="fatout">Fats Remaining: <b>{{recommendedFats}}</b></label></td>
					</tr>	
			    </table>
				</td>
				</table>
	
			</form>
		</div>
	</body>
</html>